ComPairSE/Connected Services/FirstService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_CreateReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReceipt" />
  </wsdl:message>
  <wsdl:message name="IDataService_CreateReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getAllReceiptsFromHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllReceiptsFromHistory" />
  </wsdl:message>
  <wsdl:message name="IDataService_getAllReceiptsFromHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllReceiptsFromHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_LoadDataFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataFromFile" />
  </wsdl:message>
  <wsdl:message name="IDataService_LoadDataFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveDataToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataToFile" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveDataToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataToFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetReceiptByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptByID" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetReceiptByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetReceiptsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptsByDate" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetReceiptsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptsByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="CreateReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CreateReceipt" message="tns:IDataService_CreateReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CreateReceiptResponse" message="tns:IDataService_CreateReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllReceiptsFromHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getAllReceiptsFromHistory" message="tns:IDataService_getAllReceiptsFromHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getAllReceiptsFromHistoryResponse" message="tns:IDataService_getAllReceiptsFromHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataFromFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/LoadDataFromFile" message="tns:IDataService_LoadDataFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/LoadDataFromFileResponse" message="tns:IDataService_LoadDataFromFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataToFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveDataToFile" message="tns:IDataService_SaveDataToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveDataToFileResponse" message="tns:IDataService_SaveDataToFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetReceiptByID" message="tns:IDataService_GetReceiptByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetReceiptByIDResponse" message="tns:IDataService_GetReceiptByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetReceiptsByDate" message="tns:IDataService_GetReceiptsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetReceiptsByDateResponse" message="tns:IDataService_GetReceiptsByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReceipt">
      <soap:operation soapAction="http://tempuri.org/IDataService/CreateReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReceiptsFromHistory">
      <soap:operation soapAction="http://tempuri.org/IDataService/getAllReceiptsFromHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataFromFile">
      <soap:operation soapAction="http://tempuri.org/IDataService/LoadDataFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataToFile">
      <soap:operation soapAction="http://tempuri.org/IDataService/SaveDataToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptByID">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetReceiptByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptsByDate">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetReceiptsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:8080/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>